version: 2.1
jobs:
  build_and_push:
    docker:
      - image: cimg/node:22.0
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build and Push Docker Image
          command: |
            # Docker Hub login using variables you added
            echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
            docker build -t moshindevops11/todo-app:latest .
            docker push moshindevops11/todo-app:latest

workflows:
  build-master:
    jobs:
      - build_and_push
