version: 2.1
jobs:
  build_and_push:
    docker:
      - image: cimg/node:22.0
    steps:
      - checkout
      - setup_remote_docker
      - restore_cache:
          keys:
            - v1-deps-{{ checksum "package-lock.json" }}
            - v1-deps-
      - run: npm install
      - save_cache:
          key: v1-deps-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run:
          name: Optimized Build and Push
          command: |
            echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
            docker pull moshindevops11/todo-app:latest || true
            docker build --cache-from=moshindevops11/todo-app:latest -t moshindevops11/todo-app:latest .
            n=0
            until [ "$n" -ge 3 ]; do
               docker push moshindevops11/todo-app:latest && break
               n=$((n+1))
               sleep 5
            done
            if [ "$n" -ge 3 ]; then exit 1; fi

workflows:
  build-master:
    jobs:
      - build_and_push