version: 2.1
jobs:
  build_and_push:
    docker:
      - image: cimg/node:22.0
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false 
      
      # Step 1: Restore npm cache
      - restore_cache:
          keys:
            - v1-deps-{{ checksum "package-lock.json" }}
            - v1-deps-

      # Step 2: Install (only if cache miss )
      - run: npm install

      # Step 3: Save npm cache
      - save_cache:
          key: v1-deps-{{ checksum "package-lock.json" }}
          paths:
            - node_modules

      # Step 4: Docker Build with Cache-From (Memory & Time Saver)
      - run:
          name: Optimized Docker Build
          command: |
            echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
            
            # Purani image pull karo cache ke liye (agar exist karti ho)
            docker pull moshindevops11/todo-app:latest || true
            
            # Build using pulled image as cache
            docker build \
              --cache-from=moshindevops11/todo-app:latest \
              -t moshindevops11/todo-app:latest .

      # Step 5: Push with Retry 
      - run:
          name: Push with Retry
          command: |
            n=0
            until [ "$n" -ge 3 ]; do
               docker push moshindevops11/todo-app:latest && break
               n=$((n+1))
               sleep 5
            done
            if [ "$n" -ge 3 ]; then exit 1; fi